a {
  text-decoration: none;
}

body {
  background-color: teal;
  display: flex;
  color: salmon;
  font-size: 1rem;
  font-family: 'Source Code Pro', monospace;
  margin: 50px;
  padding: 10px;
  flex-flow: column;
  text-align: -webkit-center;
  width: 100%
}

button {
  width: 140px;
  display: block;
  margin-bottom: 10px;
}

h1 {
  margin: 30px;
  color: turquoise;
  font-size: 3rem;
  font-family: inherit;
}

img {
  display: none;
}

ul {
  border: 10px solid teal;
  list-style-type: none;
  width: 20%;
  padding: 20px;
}

.gearSVG {
  display: flex;
  min-width: 100px;
}

.canvasIntro {
  border: 10px dashed teal;
  border-radius: 50%;
  z-index: 0;
  margin: -60px -40px 200px -40px;
}

.chapter {
  background-color: rebeccaPurple;
  border-bottom: 3px solid green;
}

.dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  border-radius: 50%;
  border: 3px solid #2b5565
}

.dots {
  position: absolute;
  margin-top: 30%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
}

.wrap-animate {
  align-items: center;
  margin: 0px;
  opacity: 0;
}

.buttonList {
    float: right;
    margin-top: 20px;
    margin-right: 0%
}
